// COLORS

$black : #000000;
$white : #FFFFFF;

$blue : rgb(81,126,245);
$orange : rgb(255,126,102);

// FONTS

$font--default : 'Open Sans', Arial, sans-serif;

// WEIGHTS

$font--reg : 400;
$font--semibold : 600;
$font--bold : 700;

// SCREEN SIZES

$scr--small : 640;
$scr--wrap : 960;
$scr--desktop : 1024;
$scr--large : 1440;
$scr--hd : 1920;